<h1>Ajouter un post</h1>
<form [formGroup]="addPost" (ngSubmit)="newPost()">
  <div class="formGroup">
      <label><Title></Title></label>
      <input type="text" class="form-control" placeholder="Enter the title" formControlName="title">
  </div>
  <div class="formGroup">
      <label>Author</label>
      <input type="text" class="form-control" placeholder="Enter the author" formControlName="author_id">
  </div>
  <div class="formGroup">
    <label>Image</label>
    <input type="url" class="form-control" placeholder="Enter the image url" formControlName="image_url">
</div>
<div class="formGroup">
  <label>Resume</label>
  <input type="text" class="form-control" placeholder="Enter the resume" formControlName="resume">
</div>
<div class="formGroup">
  <label>Content</label>
  <input type="text" class="form-control" placeholder="Enter the content" formControlName="content">
</div>
  <button type="submit">Ajouter</button>
  </form>

