<h1 style="text-align: center;">Administration Page</h1>
<br>
<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
<table>
    <thead>
      <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Title</th>
          <th>Autor</th>
          <th>Date</th>
          <th>Actions</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let post of postList">
        
        <td>{{post.id}}</td>
        <td ></td>
        <td>{{post.title}}</td>
        <td>{{post.author_id}}</td>
        <td>{{post.created_at}}</td>
        <td>
            <i class="material-icons">edit</i>
            <i class="material-icons">delete</i>
                      </td>
        

    
      </tr>
    
    </tbody>
  </table>